{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PDFUpload | Upload your PDFs to the cloud!</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="theme-color" content="#16c98d">
    <link rel="stylesheet" href="//unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  </head>
  <body>
    <dropzone id="app" url="{% url 'upload' %}" csrf-token="{{csrf_token}}" previews-container="#previews"
              accepted-file-types="application/pdf" clickable="#clickable">
      <div class="content">
        <div class="header">
          <h1><i class="icon ion-ios-cloud-upload"></i>PDFUploader</h1>
        </div>
        <div class="main">
          <p>Drag and drop PDF files anywhere on the page or use the button below to send your docs to the cloud!</p>
          <dz-button type="primary" id="clickable">
            Upload
          </dz-button>
          <item-list id="previews"></item-list>
        </div>
      </div>
    </dropzone>

    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/vuex"></script>    
    <script src="//unpkg.com/mint-ui/lib/index.js"></script>
    <script src="{% static "dropzone.js" %}"></script>
    <script>

      // Disabling autoDiscover, otherwise Dropzone will try to attach twice, per the docs
      Dropzone.autoDiscover = false

      // Use Vuex store as the source of truth for file metadata
      const store = new Vuex.Store({
        state: {
          files: []
        },
        mutations: {
          addItem (state, file) {
            // we prepend to the array so that the most recently-uploaded files appear at the top
            state.files.unshift({
              file: file,
              progress: 0,
              status: "",
              url: "",
              errorMessage: ""
            })
          },
          updateItem (state, obj) {
            console.log(obj)
            name = obj.name // a name is required to identify the item
            for (var i = state.files.length - 1; i >= 0; i--) {
              if (state.files[i].file.name === name) {
                for (var prop in obj) {
                  if (obj.hasOwnProperty(prop) && prop !== "name") {
                    state.files[i][prop] = obj[prop]
                  }
                }
              }
            }
          }
        },
        getters: {
          isLoading: state => {
            for (var i = state.files.length - 1; i >= 0; i--) {
              if (!state.files[i].status) {
                return true
              }
            }
            return false
          }
        }
      })

      // Button / spinner component
      Vue.component('dz-button', {
        props: {
          id: {
            type: String,
            required: true
          },
          type: {
            type: String,
            required: true
          }
        },
        computed: {
          loading () {
            return store.getters.isLoading
          }
        },
        template: '<div style="margin-bottom: 30px"><mt-button :type="type" :id="id" v-show="!loading">Upload</mt-button><svg v-show="loading" width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke="#ffffff" fill="none" stroke-width="10" stroke-linecap="round"></circle><circle cx="50" cy="50" r="40" stroke="#16c98d" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate><animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate></circle></svg></div>'
      })

      // The preview list component visible after files are uploaded
      Vue.component('item-list', {
        template: '<div class="file-list-wrap dropzone-previews"><transition-group name="slide-fade" tag="table"><tr is="item" v-for="item in files" v-bind:key="item" :item="item"></tr></transition-group><div>',
        components: {
          item: {
            template: '<tr v-if="show" class="dz-preview dz-file-preview"> <td class="dz-image"><i class="icon ion-document-text icon-lg"></i></td><td class="dz-details"><div class="dz-filename"><span v-html="fileName"></span></div><div class="dz-size"><span v-html="fileSize"></span></div><div class="dz-progress"><mt-progress :class="{ hide: uploadComplete}" :value="uploadProgress" :bar-height="4"></mt-progress></div><div class="dz-success-message" :class="{ hide: !hasSuccess }"><div class="dz-success-mark"><i class="icon ion-checkmark-round icon-success"></i></div><span>Successfully uploaded</span></div><div class="dz-error-message" :class="{ hide: !hasError }"><div class="dz-error-mark"><i class="icon ion-close-round icon-error"></i></div><span v-html="errorMessage"></span></div></td><td class="dz-link"><a target="_blank" v-if="hasSuccess" :href="fileUrl">View file &raquo;</a></td></tr>',
            data: function () {
              return {
                // start state for animation
                show: false
              }
            },
            props: {
              item: {
                type: Object,
                required: true
              }
            },
            computed: {
              fileName () {
                return App.$el.dropzone._renameFilename(this.item.file.name)
              },
              fileSize () {
                return App.$el.dropzone.filesize(this.item.file.size)
              },
              fileUrl () {
                return this.item.url
              },
              uploadComplete () {
                return !!this.item.status.length
              },
              uploadProgress () {
                return this.item.progress
              },
              hasSuccess () {
                return this.item.status === "success"
              },
              hasError () {
                return this.item.status === "error"
              },
              errorMessage () {
                return this.item.errorMessage
              }
            },
            mounted () {
              this.show = true
            }
          }
        },
        computed: {
          files () {
            return store.state.files
          }
        }
      })

      // Our root dropzone component
      const App = new Vue({
        el: '#app',
        components: {
          dropzone: {
            template: '<div :id="id"><slot></slot></div>',
            props: {
              id: {
                type: String,
                required: true
              },
              url: {
                type: String,
                required: true
              },
              csrfToken: {
                type: String,
                required: true
              },
              previewsContainer: {
                type: String,
                required: true
              },
              clickable: {
                type: String,
              },
              acceptedFileTypes: {
                type: String
              },
              maxFileSizeInMB: {
                type: Number,
                default: 2
              },
              maxNumberOfFiles: {
                type: Number,
                default: 5
              }
            },
            mounted () {
              var vm = this
              var element = document.getElementById(this.id)
              this.dropzone = new Dropzone(element, {
                url: this.url,
                maxFiles: this.maxNumberOfFiles,
                maxFilesize: this.maxFileSizeInMB,
                acceptedFiles: this.acceptedFileTypes,
                clickable: this.clickable,
                headers: {
                  'X-CSRFToken': this.csrfToken
                },
                previewsContainer: this.previewsContainer,
                previewTemplate: '<div></div>',
                renameFilename: function (name) {
                  if (name.endsWith('.pdf')) {
                    // truncate for Django's FileField
                    name = name.slice(0, name.length - 4).slice(0, 72) + '.pdf'
                  }
                  return name
                } 
              })

              // Update Vuex store based on dropzone events
              this.dropzone.on('addedfile', function (file) {
                store.commit('addItem', file)
              })
              this.dropzone.on('success', function (file, response) {
                store.commit('updateItem', {
                  name: file.name,
                  url: response.local_url,
                  status: "success"
                })
              })
              this.dropzone.on('error', function (file, error, xhr) {
                store.commit('updateItem', {
                  name: file.name,
                  status: "error",
                  errorMessage: error
                })
              })
              this.dropzone.on("uploadprogress", function(file, progress) {
                store.commit('updateItem', {
                  name: file.name,
                  progress: progress
                })
              })
            }
          }
        },
      })

    </script>
  </body>
</html>